<!DOCTYPE html>
<html>
  <head>
    <title>LRP</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LRP</h1>
    <div style="width:250px; height:20px; border: 1px solid black;">
      <div id="progress-bar" style="background-color:red; width: 0%; height:20px;">
      </div>
    </div>
    <pre id="log"></pre>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/javascripts/lrp.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
